body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c2bfbf;
}

#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#taskInput, #addTaskButton {
    width: 100%;
    margin-bottom: 15px;
}

h1{
    text-align: center;
}

#taskList {
    list-style: none;
    padding: 0;
}

.taskItem {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.taskItem.completed{
    text-decoration: line-through;
    color: #888;
}

